<?xml version='1.0' encoding='utf-8'?>
<widget id="org.agpaiidigital.assigment.app" version="0.0.23" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PENILAIAN AGPAII DIGITAL</name>
    <description>PENILAIAN AGPAII UNTUK GURU PAI</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <icon src="res/icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation href="about:*" />
    <feature name="Launcher">
        <param name="android-package" value="com.hutchind.cordova.plugins.launcher.Launcher" />
    </feature>
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
</widget>
